$red : #ed3338;
$darkred : #d61c38;
$green : #a9b533;
$tortoise : #00c4b5;
$yellow : #eeb11e;
$blue : #27c3e5;
$brown : #d99454;
$skyblue : #f4feff;
$c-para : #818181;

$montserrat :'Montserrat', sans-serif;
$opensans : 'Open Sans', sans-serif;
$robotoslab : 'Roboto Slab', serif;