#testimonials{
	background-size: 100%;
	background-position: center center;
	position: relative;
	z-index: 1;
}

.pts-container{
	@extend .container;
}

.pts-row{
	@extend .row;
}

.pts-col{
	@extend .col-12;
}

.testi-slider{
	@extend .swiper-container;
	@extend .col-12;
	overflow: visible;
	margin: 35px auto 50px auto;

	@media screen and (min-width: 992px){
		max-width: 980px;
	}
}

.testi-wrapper{
	@extend .swiper-wrapper;
}

.testi-slide-prev{
	@extend .swiper-slide-prev;
}

.testi-slide{
	@extend .swiper-slide;
	@extend .d-flex;
	padding: 30px;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	position: relative;

	@media screen and (min-width: 768px){
		padding: 0;
	}
}

.testi-pagination{
	width: 100%;
	@extend .swiper-pagination;
	
	@media screen and (min-width: 768px){
		width: 100%;
		margin-top: 15px;
	}

	@media screen and (min-width: 992px){
		margin-top: 15PX;
	}

	@media screen and (min-width: 1170px){
		width: auto;
		left: 278px;
	}
}

.testi-pagination-bullet{
	height: 12px;
	border-radius: 100%;
	width: 12px;
	border: 3px solid black;
	background: #ffffff;
	display: inline-block;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin: 5px;

	&-active{
		background: $red;
		border: 3px solid $red;
	}
}

.pts-image{
	-webkit-mask-image: url(../images/testi-mask.svg);
	mask-image: url(../images/testi-mask.svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100%;
    mask-size: 100%;
	width: auto;
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	margin-top: -95px;

	@media screen and (min-width: 768px){
		width: auto;
		margin-top: -55px;
	}

	@media screen and (min-width: 992px){
		margin-top: 0px;
		position: absolute;
		left: -115px;
		top: -24px;
	}

	@media screen and (min-width: 1170px){
		left: -34%;
		top: -13px;
	}
}

.ptc-quote{
	position: relative;
	z-index: 1;
	background: #ffffff;
	border: 8px solid $red;
	width: 100%;
	padding: 20px;
	text-align: center;

	&:after{
		content:'';
		background-color: #a8a8a8;
		-webkit-mask-image: url(../images/quote-icon.svg);
		mask-image: url(../images/quote-icon.svg);
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-size: 64px;
	    mask-size: 64px;
		width: 64px;
		height: 43px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}

	@media screen and (min-width: 768px){
		width: 70%;
		margin: 0 auto;
	}

	@media screen and (min-width: 992px){
		text-align: left;
		padding: 8px 35px 25px 240px
	}

	@media screen and (min-width: 1170px){
		padding: 35px 35px 45px 150px;
		position: relative;
		left: 75px;
	}
}

.ptc-cite{
	margin: 13px 0 0 0;
	font-style: normal;
	display: block;
	font-weight: bold;
	color: $red;
}