#services{
	.tc-col--2{
		@media screen and (min-width: 992px){
			margin-top: 46px;
		}
	}
}

.service-entries{
	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: scroll;
	background-size: 100%;
}

.serv-list-entries{
	@extend .list-unstyled
}

.serv-container{
	@extend .container;
}

.serv-row{
	@extend .row;
}

.serv-slider{
	@extend .swiper-container;
	@extend .col-12;
}

.serv-wrapper{
	@extend .swiper-wrapper;
}

.serv-slide-prev{
	@extend .swiper-slide-prev;
}

.serv-slide{
	@extend .swiper-slide;
	@extend .text-center;
	
	.se-content-box{
		padding: 30px;
	}

	&[data-count="1"],
	&[data-count="7"]{
		.se-content-box{
			background-color: $green;
		}
	}

	&[data-count="2"],
	&[data-count="8"]{
		.se-content-box{
			background-color: $tortoise;
		}
	}

	&[data-count="3"],
	&[data-count="9"]{
		.se-content-box{
			background-color: $red;
		}
	}

	&[data-count="4"]{
		.se-content-box{
			background-color: $yellow;
		}
	}

	&[data-count="5"]{
		.se-content-box{
			background-color: $blue;
		}
	}

	&[data-count="6"]{
		.se-content-box{
			background-color: $brown;
		}
	}

}

.se-title{
	color: #ffffff;
}

.se-description{
	color: #ffffff;
}

.serv-slide-next{
	@extend .swiper-slide-next;
}

.serv-image{
	width: 100%;
	height: 100%;
}

.serv-button-next,
.testi-button-next{
	background: url(../images/arrow.png) no-repeat scroll center center / 80% rgba(255,255,255,1);
	border-radius: 100%;
	position: absolute;
    top: 50%;
    left: unset;
    right: 10px;
    width: 50px;
    height: 50px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3);
}

.serv-button-prev,
.testi-button-prev{
	position: absolute;
    top: 50%;
    left: 10px;
    width: 50px;
    height: 50px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 3px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background: url(../images/arrow.png) center center / 80% no-repeat scroll white;
    border-radius: 100%;
}

.swiper-button-disabled{
	display: none !important;
}

.serv-image{
	width: 100%;
	height: 100%;
}

.serv-pagination{
	text-align: center;
}

.serv-pagination 
	.swiper-pagination-bullet{
		border-radius: 100%;
		width: 13px;
		height: 13px;
		border: 3px solid black;
		background: #ffffff;
		display: inline-block;
		transition: all 0.3s ease-in-out;
		margin: 13px 5px 5px 5px;
		opacity: 1;
		background: rgba(0,0,0,0);
	}

.serv-pagination .swiper-pagination-bullet-active{
	background: $red;
	border-color: $red;
}